# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
out/

# Vite-specific
.vite
.vitepress/dist

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Test reports
coverage/
*.lcov

# Temporary files
*.tmp
*.temp
